* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  min-height: 500px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.logo {
  width: 180px; /* aumentada */
  display: block;
  margin: 0 auto 20px;
}

.card h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #0f172a;
}

.subtitle {
  text-align: center;
  margin-bottom: 25px;
  color: #64748b;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #334155;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
}

.input-group input:focus {
  border-color: #2563eb;
}

button,
.logout-btn {
  width: 100%;
  padding: 12px;
  background: #076602;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;

  margin-top: auto; /* empurra para baixo */
  margin-bottom: 5px;
}

button:hover,
.logout-btn:hover {
  background: #1dd833;
}

.info {
  margin-top: 20px;
  padding: 12px;
  background: #f8fafc;
  border-radius: 10px;
  font-size: 14px;
  color: #334155;
}